body{
  background-color: #E5FDD1;
}

.title{
  font-size: 5rem;
  color: #AA5656;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
